<script type="text/javascript"> init_oca_buttons(); </script>

<div id="oca_list">

  <div class="m-bottom-15 clearfix">
    <a href="" id="bt-add-oca" class="ui-corner-all button-icon-text right ui-state-default">
      <span class="ui-icon ui-icon-plusthick"></span>
      <%= t '.add_oca' %>
    </a>
  
    <h2 class="left clearfix"><%= @pallet.name %></h2>
  </div>
  
  <% unless @pallet.one_click_access_list.empty? %>
  
    <% last_one_click_access_sub_path = nil %>
    <% @pallet.one_click_access_list.each_with_index do |pallet_one_click_access, oca_index| %>
      <% if pallet_one_click_access.sub_path != last_one_click_access_sub_path
           last_one_click_access_sub_path = pallet_one_click_access.sub_path
      %>
        <h3 class="oca_sub_path ui-widget-header" ><%= pallet_one_click_access.sub_path.blank? ? (t '.root_access') : (t '.restricted' ) + ' ' + pallet_one_click_access.sub_path %></h3>
      <% end %>
  
      <div class="oca_tokens" style="margin-bottom: 20px;">
        <div class="oca_token ui-state-highlight">
          <div class="clearfix">
            <div class="oca_link left">
              <%= token_link(pallet_one_click_access) -%>
            </div>
            <div class="right">

              <%= link_to '<span class="ui-icon ui-icon-cancel"></span>' + (t '.delete'),
                          '#',
                          :class => 'button-icon-text ui-corner-all right',
                          :onclick => "$('#bt-share').qtip('hide');
                                       modal_confirm('Are you sure you want to delete this one click access?',
                                                     '',
                                                     '$.getScript(\"#{url_for({:action => 'destroy_one_click_access', :id => pallet_one_click_access, :sub_path => @sub_path }) }\")');
                                                     return false" %>

              <div id="oca_clip_container_<%= oca_index.to_s -%>" class="right clip_container" tooltip="<%= t '.tip.copy' %>" tooltip_opt="<%= tooltip_options(:show_delay => 0, :position => 'n-s') %>">
                <div id="oca_clip_button_<%= oca_index.to_s -%>" href="#" class="button-icon-text ui-corner-all right">
                  <span class="ui-icon ui-icon-clipboard"></span><%= t '.copy' -%>
                </div>
              </div>
            </div>
          </div>
  
          <% unless pallet_one_click_access.email_receivers.blank? %>
            <div class="oca_send_to"><%= pallet_one_click_access.email_receivers %></div>
          <% end %>
  
           <hr class="ui-state-highlight"/>
  
          <div>
            <% details = [] %>
            <% details << "<b>Expires In </b>#{distance_of_time_in_words_to_now(pallet_one_click_access.expires_at, true)}" +
                          "<b> At </b>#{pallet_one_click_access.expires_at}" %>
            <% details << "<b>Created by </b>#{link_to_user_email(pallet_one_click_access.user)}" %>
            <% details << "<b>Download </b>#{pallet_one_click_access.download}" unless pallet_one_click_access.download.blank? %>
            <%= details.join(', ') %>
          </div>
        </div>
      </div>
    <% end -%>
  <% else -%>
       <%= t (".no_oca") %> 
  <% end -%>
</div>
